.App{
margin: 0px;padding: 0px;
  background:   rgba(153, 204, 153,0.28);}
.App-header{
    background: #99cc99;
    box-shadow: 0 1px 10px 0 rgba(1,1,1,0.028);
    }
    .App-logo,.App-logo:hover{
  color:#222 !important;
  background: #fff !important;
  font-weight: 999;

}
.App-nav{
margin-top: 10px; 
background: #fff;
box-shadow: 0 1px 10px 0 rgba(1,1,1,0.028);
}
.App-nav ul li{ float:left;list-style-type: none;;
  padding:10px;margin-left: 4px;  margin-right: 4px; 
  background: #fff;
  box-shadow: 0 1px 10px 0 rgba(1,1,1,0.028);
}
.App-nav ul li:hover{
  background:  rgba(153, 204, 153,0.28);;
  box-shadow: 0 1px 10px 0 rgba(1,1,1,0.051);
  cursor: pointer;
  cursor: hand;
 }
.App-nav-right{
  float:right !important; margin-right: 14px !important; 
}